* {
	box-sizing: border-box;
  }
body{
    margin: 0px;
    background-color: whitesmoke;
	color: black;
	font-family: 'Playfair Display', serif;
	font-size: 15px;
}
a {
    color: inherit;
    text-decoration: inherit;
}
a:hover {
	color: orangered;
}
span:hover {
	color: orangered;
}
input {
	color: orangered;
	outline: none;
}
.hero-image {
	background-image: url('../imgs/bg1.png');
	height: calc(100vh);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: static;
  }


/* HOME PAGE */
.inputGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
	padding-top: 250px; /* margin-top: 250px; */
}
.title {
    color: inherit;
	font-size: 65px;
	font-weight: lighter;
}
.inputGrid .search_box {
	margin-top: 15px;
}
.buttons {
	display: inline-flex;
	height: 50px;
	width: 200px;
	margin-top: 15px;
}
.buttons button {
	background: inherit;
	font-size: 15px;
	cursor: pointer;
	font-family: inherit;
	padding: 6px 16px 6px 16px;
	border: 1px solid black;
	border-radius: 8px;
	margin: auto;
}
.buttons button:hover {
	background: orangered;
}
.inputGrid .drop-zone {
	background: inherit;
	font-size: 15px;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 8px;
	padding: 6px 16px 6px 16px;
	margin: auto;
}
.inputGrid .drop-zone:hover {
	background: orangered;
}
#fileUpload {
    display: none;
}

.navBottom {
	position: absolute;
  	width: 100%; /*100%*/
 	margin: 0;
  	bottom: 25px;
  	display: inline-flex;
}
.navElement {
	margin: auto;
  }



/* RESULTS PAGE HEADER */
.header_container {
	display: grid;
	position: fixed;
	top: 0;
	width: 100%;
	height: 250px;
	z-index: 1;
}

/* */
.logo_results {
	float: left;
	margin-left: 25px;
	margin-top: 55px;
	font-size: 25px;
}
.options_container{
	margin-top: -60px;
	margin-left: 235px;
}
.search_bar_container {
	float: left;
	margin-left: 30px;
	margin-top: 55px;
	width: 650px;
}

.search_box {
	position: relative;
	border: 2px solid rgb(30, 30, 30);
	border-radius: 24px;
	height: 36px;
	padding: 0px;
	margin: 0px;
}
.search_box input {
	position: relative;
	background-color: inherit;
    border: none;
	border-radius: 24px;
    font-family: inherit;
    font-size: inherit;
    height: 100%;
	width: 580px;
	margin-left: 10px;
	outline: none;
}
#buttons_container{
	position: absolute;
	top: 0px;
	right: 0px;
}
#buttons_container button{
	height: 33px;
	width: 50px;
	display: block;
	float: left;	
	border: 0px;
}
#buttons_container label{
	height: 33px;
	width: 50px;
	border-radius: 0px 24px 24px 0px;
	display: block;
	float: left;
}
#img_icon {
	background: rgba(245, 245, 245, 0) url('../imgs/image_icon.png') no-repeat;
	background-position: center;
	background-size: 60%;
}
#img_icon:hover{
	background-color: orangered;
}
#upload_icon{
	background: rgba(245, 245, 245, 0) url('../imgs/upload_icon.png') no-repeat;
	background-position: center;
	background-size: 60%;
}
#upload_icon:hover{
	background-color: orangered;
}



/* RESULTS PAGE */
/* RESULTS */
.results_grid {
	margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
}
.container {
	flex-grow: 1;
	position: relative;
	display: inline-block;
	margin: 25px;
	height: 300px;
	max-width: 100%;
}
.img_response {
	object-fit: cover;
	height: 180px;
	min-width: 100%;
}

/* MODAL ONE IMAGE */
.modal {
	display: none;
	position: fixed; 
	padding-top: 100px;
	left: 0; 
	top: 0;
	width: 100%;
	height: 100%; 
	background-color: rgba(244, 244, 244, 0.66);
	overflow-y: auto;
	z-index: 2;
}  
.closeBtn {
	display: block;
	margin: auto;
	width: 40%;
}
.modal-img {
	display: block;
	margin: auto;
	width: 40%;
}
.modal .info {
	display: block;
	margin: auto;
	width: 40%;
  }


/* ABOUT */
.about {
	margin-top: 120px;
	margin-left: 50px;
	font-size: 18px;
	width: 560px; /* 720px */
}
.about a {
	color: orangered;
}
.italica {
	font-style: italic;
}